# Python virtual environment
.venv/
__pycache__/

# Logs
logs/

# Data files
data/

jars/
# Airflow
airflow/logs/
airflow/__pycache__/
dags/__pycache__/
*.pyc
airflow.db
airflow.cfg
webserver_config.py
